nav
{
	display:flex;
	flex-direction: row-reverse;
	
}

nav p 
{
	padding-left:15px;
	padding-right:15px;
}

section #myGrid
{
	display:grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: auto;
}

section p, section div
{
	border: 1px solid black;
}

#myParagraph
{
	background-color:green;
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end:: 3;
}
.container
{
	border:1px solid black;
	width:50%;
	margin; 0 auto;
}
#gridNav
{
	grid-row-start:1;
	grid-row-end:999;
	grid-column-start:4;
	grid-column-end:4;
}
.goLeft, .goRight
{
	width:35%;
	border:1px solid black;
}
.goLeft
{
	float:left;
	clear:right;
}
.goRight
{
	float:right;
}
#skipLink
{
	position:absolute;
	left:-999px;
	top:0px;
}
#skipLink:focus
{
	position:relative;
	left:0px;
	top:0px;
}
footer
{
	/* */
	width:50%;
	background-color: black;
	color: white;
	position:fixed;
	bottom:0px;
}